<div class="ui horizontal segments" id="detailorga">
	{{#organization}}
    	<div class="ui segment">
      		<div class="ui list">
  				<div class="item">
  					<div class="header">
  						Groupes({{nbG}})
  					</div>
  					{{#groupes}}
  						{{name}}
  					{{/groupes}}
  				</div>
			</div>
    	</div>
    	<div class="ui segment">
      		<div class="ui list">
  				<div class="item">
  					<div class="header">
  						Users({{nbU}})
  					</div>
  					{{#users}}
  						{{email}}
  					{{/users}}
				</div>
			</div>
    	</div>
    {{/organization}}
  	<i class="close icon closedetailorga"></i>
 </div>
<script>
$(".closedetailorga").click(function(){
  		$("#detailorga").remove();
  	});
</script>